// VARIABLES
$color-primary: hsl(257, 40%, 49%);
$color-seconday: hsl(300, 69%, 71%);

$color-white: hsl(0, 0%, 100%);

// MIXINS
@mixin laptops {
  @media screen and (min-width: 90em) {
    @content;
  }
}

@mixin desktops {
  @media screen and (min-width: 150em) {
    @content;
  }
}

// GENERAL STYLES
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include laptops() {
    font-size: 70%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 100vw;
  max-height: 80rem;
  background-color: $color-primary;

  @include desktops() {
    max-width: 150rem;
    margin: 10rem auto;
  }
}

///////////////////////////
// HEADER STYLES
//////////////////////////
.header {
  background-image: url(../images/bg-mobile.svg),
    linear-gradient($color-primary, $color-primary);
  background-repeat: no-repeat;
  padding: 3rem 3.5rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5.5rem;

  @include laptops() {
    max-width: 130rem;
    background-image: url(../images/bg-desktop.svg),
      linear-gradient($color-primary, $color-primary);
    background-repeat: no-repeat;
    padding: 7rem;
    padding-bottom: 3rem;

    grid-template-columns: 1.3fr 1fr;
    column-gap: 5rem;
    row-gap: 2.5rem;
  }
}

// LOGO-BOX STYLES
.header--logobox {
  @include laptops() {
    grid-row: 1 / 2;
    grid-column: 1 / span 2;
    margin-bottom: 3rem;
  }

  &-logo {
    height: 3.2rem;

    @include laptops() {
      height: 4.5rem;
    }
  }
}

// IMG STYLES
.header--imgbox {
  @include laptops() {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  &-img {
    width: 100%;
  }
}

// TEXT STYLES
.header--textbox {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  color: $color-white;

  @include laptops() {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    text-align: left;
    padding-top: 10%;
  }

  &-heading {
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 1.5rem;

    @include laptops() {
      font-size: 3.6rem;
    }
  }

  &-text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.8;
    color: rgba($color-white, 0.85);
    margin-bottom: 2.5rem;

    @include laptops() {
      font-size: 1.67rem;
      line-height: 1.6;
    }
  }

  &-btn:link,
  &-btn:visited {
    display: inline-block;
    text-decoration: none;
    background-color: $color-white;
    color: $color-primary;
    width: 70%;
    padding: 1rem;
    border-radius: 100px;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;

    @include laptops() {
      width: 35%;
      text-align: center;
      box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.5),
        0 -0.2rem 0.3rem rgba(0, 0, 0, 0.5);
    }
  }

  &-btn:hover,
  &-btn:active {
    background-color: $color-seconday;
    color: $color-white;
  }
}

// ICONS STYLES
.header--iconbox {
  justify-self: center;

  display: flex;
  align-items: center;
  gap: 1.5rem;

  @include laptops() {
    grid-row: 3 / 4;
    grid-column: 1 / span 2;
    justify-self: end;
  }

  &-icon:link,
  &-icon:visited {
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid $color-white;
    border-radius: 50%;
    transition: border-color 0.3s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;

    svg[class^="icon"] {
      width: 1.5rem;
      height: 1.5rem;
      fill: $color-white;
      transition: fill 0.3s ease-in-out;
    }
  }

  &-icon:hover,
  &-icon:active {
    border-color: $color-seconday;
  }

  &-icon:hover svg[class^="icon"] {
    fill: $color-seconday;
  }
}
